{% extends "workdjango/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="shared-article-page">
    <div class="shared-form">
     <h3>Personal Info</h3> 
        
<div class="info-card">
 <!-- <img src="{{ user.profile.image.url }}"> -->
 <img src="{% static 'images/agent.jpg' %}">
<center>
<h5>Firstname: {{ user.first_name }}</h5>
<h5>Lastname: {{ user.last_name  }}</h5>
<h5>Username: {{ user.username }}</h5>
<h5>Email: {{ user.email }}</h5>
</center>
</div>
<br>
<h3>Edit Your Personal Info</h3>
<div class="info-card">
    <form method="POST" enctype="multipart/form-data">
 
         {% csrf_token %}
         <h3>Profile Info</h3><br>
         {{ u_form|crispy }}
         <!-- {{ p_form|crispy }}      -->
       <button type="submit">Update</button>
   </form>        
</div>


  
</div>
</div>
{% endblock content %}
