 {% extends "workdjango/base.html" %}
{% block content %}
<div class="shared-article-page">
  <div class="shared-form">
   <h3>Shared Articles</h3> 

 {% for post in posts %}       
<div class="info-card">
<a href="{% url 'post-detail' post.id %}"><h4>{{ post.title }}</h4></a>
<p> {{ post.content }}</p> 
<div class="more">
<h5 class="author">Written By {{ post.author }} <i class="date">{{ post.date_posted}}</i></h5>
</div>      
</div>

{% endfor %}
</div>

<!--pagination--> 
<div class="pagination">
<a href="" class="active" id="first">First</a>
<a href="">Prev</a>
<a href="">1</a>
<a href="">2</a>
<a href="">3</a>
<a href="">4</a>
<a href="">5</a>
<a href="">6</a>
<a href="">7</a>
<a href="">8</a>
<a href="">9</a>
<a href="">10</a>
<a href="">Next</a>
<a href="">Last</a>
</div>
</div>
{% endblock content %}
