 {% extends "workdjango/base.html" %}
 {% load static %}
{% block content %}
<div class="shared-article-page">
  <div class="shared-form">
   <h3>Shared Articles</h3> 
  <form action=""method="GET">	
  <input type="search" placeholder="Search here.." name="q">  
  <button type="submit">Search</button>
  </form>


 {% for post in posts %}  
      
  <div class="info-card">
    
  <img class="profile"src="{{ post.author.profile.image.url }}"><br>
  <a href="{% url 'post-detail' post.id %}"><h4>{{ post.title }}</h4></a><br>
  <p>{{ post.content }}</p><br><hr>
  
  <!-- <img src="{% static 'images/img-5.jpeg' %}"> -->

  <div class="more">
  <h5 class="author">Written By <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
    <i class="date">{{ post.date_posted|timesince }}</i> ago</h5>
</div>  
</div>

{% endfor %}
</div>
<!--pagination--> 
<div class="pagination">   
  {% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?page=1"class="active" id="first">First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}
   </div>
</div>
{% endblock content %}
